/* 8px base */
html{font-size:8px}
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,sans-serif;
}

body{
  background:transparent;   /* transparan */
  color:#fff;
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:2px;              /* margin mepet */
}

.box{
  width:100%;
  max-width:320px;          /* batas HP */
  background:rgb(3, 0, 0); /* sedikit gelap agar tetap terbaca */
  border-radius:3px;
  padding:4px 6px;
}

.row{
  font-size:8px;
  line-height:1.2;
  text-align:center;
  white-space:nowrap;
}

.countdown{
  margin-top:4px;
  font-weight:700;
  color:#00e5ff;
  letter-spacing:.5px;
}
